<div>
  <!-- Header -->
  <header class="bg-primary text-white text-center py-3">
    <h1>CRM Portal</h1>
  </header>

  <!-- Main layout -->
  <div class="container-fluid">
    <div class="row">
      <!-- Navigation Menu -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/dashboard">
                Dashboard
              </a>
              <a class="nav-link active" aria-current="page" routerLink="/">
                Nuevo Pospago B2B
              </a>
              <a class="nav-link active" aria-current="page" routerLink="/nip">
                Solicitud de NIP
              </a>
            </li>

          </ul>
        </div>
      </nav>

      <!-- Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-1">
          <router-outlet></router-outlet>         
          
        </div>      

      </main>
    </div>
  </div>
</div>