<!-- newproductmaster.component.html -->


<div class="card mb-4">
    <form id="mySearchCustomerForm">
        <div class="card-header">
            Consulta de Clientes
        </div>
        <div class="card-body">

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="documentType" class="form-label">Tipo de Identificación</label>
                    <select required #documentTypeInput="ngModel" class="form-control"
                        [(ngModel)]="customer.documentType" id="documentType" name="documentType">
                        <option selected disabled value="">
                            Seleccione...</option>
                        <option value="CC">Cédula de Ciudadanía</option>
                        <option value="CE">Cédula de Extranjería</option>
                        <option value="NIT">NIT</option>
                        <option value="TI">Tarjeta de Identidad</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="documentNumber" class="form-label">Número de Identificación</label>
                    <input type="number" required #documentNumberInput="ngModel" class="form-control"
                        id="documentNumber" placeholder="123456789" [(ngModel)]="customer.documentNumber"
                        name="documentNumber">
                </div>
            </div>


        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary" id="searchAccountButton"
                (click)="searchAccount()">Consultar</button>
        </div>
    </form>
</div>

<div *ngIf="isErrorMessage" class="alert alert-warning">
    No se encontraron resultados.
</div>

<!-- Card para la tabla de contratos asociados a un cliente -->
<div class="card mb-4" *ngIf="isExistAccount">
    <div class="card-header">
        <div class="row">
            <div class="col-md-7 align-center">
                <h5>Cuenta: {{ customer.legalName ? "" + customer.documentNumber + "-" + customer.legalName : "" }}</h5>
            </div>
            <div class="col-md-5 text-end">
                <button type="button" class="btn btn-success" id="newContractButton" (click)="openNewContract()">Nuevo
                    Contrato</button>
            </div>
        </div>
    </div>
    <div class="card-body">

        <h5 class="card-title">Contratos
        </h5>

        <table class="table table-striped" *ngIf="contratos.length > 0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Informe de venta</th>
                    <th scope="col">Seguimiento de Líneas</th>
                    <th scope="col">Activación de Líneas</th>
                    <th scope="col">Eliminación de Líneas</th>
                    <th scope="col">Edición de Líneas</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí puedes agregar filas de ejemplo o utilizar datos dinámicos en el futuro -->
                <tr *ngFor="let contrato of contratos">
                    <td>{{ contrato.id }}</td>
                    <td>{{ contrato.estado }}</td>
                    <td>{{ contrato.editar }}</td>
                    <td>{{ contrato.informeVenta }}</td>
                    <td>{{ contrato.seguimientoLineas }}</td>
                    <td>{{ contrato.activacionLineas }}</td>
                    <td>{{ contrato.eliminacionLineas }}</td>
                    <td>{{ contrato.edicionLineas }}</td>
                </tr>
                <!-- Más filas según los datos -->
            </tbody>
        </table>
    </div>
</div>